@import "src/style/variables/variables";

@mixin media($keys...){
  @each $key in $keys {
    @media (max-width: map-get($breakpoints, $key)){
      @content;
    }
  }
}

@mixin pageCenter{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
